html, body {
  background-color: black;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
  background-color: black;
}

.drawings-container {
  color : white;
  text-align: center;

  opacity: .3;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;

  width: 100%;
  height: 100%;
  background: center/cover no-repeat url('./img/kuraikinui.png');
  background-size: 120%;
  background-position-y: 12%;
  position: absolute;}

@media screen and (max-width: 1024px) and (min-width: 580px) {
  .backwark-container {
    background: center no-repeat url('./img/water.png'); 
    background-size: 100%;
  }
}

@media screen and (max-width: 580px) {
  .backwark-container {
    background: center no-repeat url('./img/water.png');
    background-size: 160%;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
